{% extends 'base.html' %}
{% block title %}دسته بندی ها{% endblock title %}
{% block content %}

            <nav id='navbar' class=" navbar navbar-expand-lg bg-dark" >
        <ul class="ms-auto navbar-nav flex-row ms-md-2" dir="rtl">
             <a class="nav-item nav-link active" href="{% url 'panel:book_list' %}">کتاب</a>
             <a class="nav-item nav-link active" href="{% url 'panel:category_list' %}">دسته بندی</a>
             <a class="nav-item nav-link active" href="{% url 'panel:discount_list' %}">تخفیف</a>
             <a class="nav-item nav-link active" href="{% url 'accounts:edit_details' %}">حساب کاربری</a>
        </ul>
     </nav>
    <br>
      <br>
    <a class=" btn btn-primary" href="{% url 'panel:discount_new' %}">تخفیف جدید</a>
    <br><br>

        تعدا کتاب با تخفیف نقدی:
{{ book_count_a }}
     <br>
            تعداد کتاب با تخفیف درصدی:
{{ book_count_p }}
     <br>
               تعداد کتاب بدون تخفیف:
{{ book_count_no }}
     <br>


    {% for discount in object_list %}
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold">{{ discount.type_discount }}</span> &middot;
                <span class="text-muted"> {{ discount.amount }} |
                {{ discount.percent }}</span>
            </div>
            <div class="card-body">
                {{ discount.active }}
            </div>

            <div class="card-footer text-center text-muted">
                <a href="{% url 'panel:discount_edit' discount.pk %}">Edit</a> |
                <a href="{% url 'panel:discount_delete' discount.pk %}">Delete</a>
            </div>

        </div>
        <br />
    {% endfor %}
{% endblock content %}