{% extends "base.html" %}
{% block title %}
Checkout
{% endblock %}

{% block content %}
                <div style=" padding: 20px 300px;">
<div class="section-1  p-5 m-5 " style=" background: lightskyblue; max-width: 700px;">
    <h1>بررسی سفارش</h1>
    <div class="order-info">
    <h3>جزئیات سفارش:</h3>
    <ul>
    {% for item in basket %}
    <li>
    {{ item.quantity }}x {{ item.product.name }}
    <span>: {{ item.total_price|floatformat:2 }}</span>
    </li>
    {% endfor %}

    {% if basket.off_code %}
    <li>
    "{{ basket.off_code.code }}" ({{ basket.off_code.discount }}% off)
    <span class="neg">- {{ basket.get_discount|floatformat:2 }}</span>
    </li>
    {% endif %}

    </ul>
    <p>قیمت کل: تومان{{ basket.get_total_price_after_discount|floatformat:2 }}</p>
    </div>
        {% load crispy_forms_tags %}
    <form method="post" class="order-form">
        {{ form|crispy }}
    <br>
        <p><input type="submit" value="ثبت" class="btn btn-primary height-auto btn-sm"></p>
    {% csrf_token %}
    </form>

   </div>
        </div>
{% endblock %}