{% extends 'base.html' %}


{% block content %}
    {% load crispy_forms_tags %}

    {% for message in messages %}
    <div class="alert alert-success messages">
        <a class="close" href="#" data-dismiss="alert">×</a>
           {{ message }}
    </div>
    {% endfor %}
    <div style=" padding: 20px 300px;">
<div class="section-1  p-5 m-5 " style=" background: lightskyblue; max-width: 700px;">
<p>ورود کاربر</p>
    <form action="" method="post" >
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary mt-2" value="Login">
        <a href="{% url 'accounts:pwdreset' %}" class="btn btn-primary mt-2" >forget password</a>
    </form>
</div>
        </div>
    <script>
    setTimeout(function(){
        if ($('.alert').length > 0) {
            $('.alert').remove();
        }
    }, 2000)    // 2000 millisecond
    </script>

{% endblock %}