{% extends "../sub_base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block sub_content %}

          <div style=" padding: 20px 300px;">
<div class="section-1  p-5 m-5 " style=" background: lightskyblue; max-width: 700px;">
<form class="account-form" method="post" enctype="multipart/form-data">
    {% if user_form.is_valid and profile_form.is_valid  %}
    <div class="alert alert-primary" role="alert">
        Details successfully updated!
    </div>
    <p class="small text-center pt-0">
        <a href="{% url "account:dashboard" %}">Back to Dashboard</a>
    </p>
    {%else%}
    <h3>تغییرات جزئیات</h3>
    <p>جزنیات حساب کاربری خود را میتوانید تغییر دهید.</p>
    {% endif %}
    {% if form.errors %}
    <div class="alert alert-primary" role="alert">
        Error: Please try again!
    </div>
    {% endif %}
    {% csrf_token %}
    <label class="small font-weight-bold">{{ user_form.email.label}}</label>
    {{ user_form.email }}
    <label class="small font-weight-bold">{{ user_form.full_name.label}}</label>
    {{ user_form.full_name }}
    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-10" type="submit" value="Save changes">اعمال تغییرات
        </button>
    <hr class="mb-3">
</form>
<form class="account-form" action="{% url "accounts:delete_user" %}" method="post">
    {% csrf_token %}
    <p class=" h3 pt-4 font-weight-bold">حذف حساب کاربری</p>
    <p>مطمئن هستید که میخواهید حساب کاربری را حذف کنید؟</p>
    <button type="submit" role="button" class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-10">حذف</button>
</form>

        </div>
</div>

{% endblock %}