{% extends "../sub_base.html" %}
{% block title %}Reset your account{% endblock %}
{% block sub_content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "accounts:dashboard" %}';
</script>
{% endif %}

            <div style=" padding: 20px 300px;">
<div class="section-1  p-5 m-5 " style=" background: lightskyblue; max-width: 700px;">
<form class="account-form mx-auto" method="post" action="{% url 'accounts:pwdreset' %}">
    <h3 class="mb-4">رمز عبور خود را فراموش کرده اید؟</h3>
    <p>برای دریافت رمز جدید ایمیل خود را وارد کنید.</p>
    {% if form.errors %}
    <div class="alert alert-primary" role="alert">
        Error: Please try again!
    </div>
    {% endif %}
    {% csrf_token %}
    <label class="small">{{ form.email.label}}</label>
    {{ form.email }}
    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit" value="Send e-mail">Send
        e-mail</button>
    <p class="text-center"><a href="{% url "accounts:login" %}">Login</a></p>
</form>
</div>
        </div>
{% endblock %}