{% extends "../sub_base.html" %}
{% block title %}Password Reset Confirm{% endblock %}
{% block sub_content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "accounts:dashboard" %}';
</script>
{% endif %}

        <div style=" padding: 20px 300px;">
<div class="section-1  p-5 m-5 " style=" background: lightskyblue; max-width: 700px;">

<form class="login-form" method="post">
    {% csrf_token %}
    <h1 class="h3 mb-4 font-weight-bold">پسورد خود را تغییر دهید.</h1>
    <p>برای تغییر پسورد از فرم زیر استفاده کنید.</p>

    {% if form.errors %}
    <div class="alert alert-primary" role="alert">
        Error: Please try again!
    </div>
    {% endif %}

    <label class="small font-weight-bold">{{ form.new_password1.label}}</label>
    {{ form.new_password1 }}
    <label class="small font-weight-bold">{{ form.new_password2.label}}</label>
    {{ form.new_password2 }}
    <ul>
        <li>پسورد شما نباید مشابه اطلاعات شخصی باشد.</li>
        <li>پسورد نباید کمتر از 8 کاراکتر باشد.</li>
        <li>پسورد ضعیف استفاده نکنید.</li>
        <li>از ترکیب عدد و حروف استفاده کنید.</li>

    </ul>
    <button class="btn btn-primary btn-block py-2 mb-4 mt-5" type="submit" value="Change">Submit
    </button>
</form>
        </div>
</div>


{% endblock %}