{% extends 'base.html' %}
{% block content %}
         <div style=" padding: 20px 300px;">
<div class="section-1  p-5 m-5 " style=" background: lightskyblue; max-width: 700px;">
    <h1>ثبت کتاب جدید</h1>
    {% load crispy_forms_tags %}
    <form accept-charset="utf-8" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success ml-2" type="submit">Save</button>
    </form>
       </div>
        </div>
{% endblock content %}