{% extends 'base.html' %}


{% block title %}کتاب ها{% endblock title %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href={% static 'css/book_list.css' %}>
    <br>
    <a class=" btn btn-primary" href="{% url 'panel:book_new' %}">کتاب جدید</a>
    <a class=" btn btn-primary" href="{% url 'panel:book_table' %}">جدول کتاب ها</a>

        <section class="bg-light p-3 m-3 text-center">
        <table style="border-collapse:collapse; margin: 30px auto; ">
        <thead>
            <tr>
                <th>عنوان</th>
                <th>نویسنده</th>
                <th>زمان ایجاد</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            {% for book in object_list %}
                <tr>
                        <td>{{ book.name|title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.created }}</td>
                        <td>
                            <a class="text-decoration-none" href="{{ book.get_absolute_url }}">جزئیات</a> |
                           <a href="{% url 'panel:book_edit' book.pk %}">ویرایش</a> |
                            <a href="{% url 'panel:book_delete' book.pk %}">حذف</a>
                        </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </section>


{% endblock content %}


