{% extends 'base.html' %}
{% block title %}دسته بندی ها{% endblock title %}
{% block content %}

    <br>
    <a class=" btn btn-primary" href="{% url 'panel:category_new' %}">دسته جدید</a>
    <br><br>

    {% for category in object_list %}
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold">{{ category.name }}</span> &middot;
            </div>

            <div class="card-footer text-center text-muted">
                <a href="{% url 'panel:category_edit' category.pk %}">Edit</a> |
                <a href="{% url 'panel:category_delete' category.pk %}">Delete</a>
            </div>

        </div>
        <br />
    {% endfor %}
{% endblock content %}