{% extends 'base.html' %}
{% block title %}دسته بندی ها{% endblock title %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href={% static 'css/book_list.css' %}>

    <br>
      <br>
    <a class=" btn btn-primary" href="{% url 'panel:discount_new' %}">تخفیف جدید</a>
    <a class=" btn btn-primary" href="{% url 'panel:book_by_off' %}">گزارش تخفیف</a>
    <br><br>


        تعدا کتاب با تخفیف نقدی:
{{ book_count_a }}
     <br>
            تعداد کتاب با تخفیف درصدی:
{{ book_count_p }}
     <br>
               تعداد کتاب بدون تخفیف:
{{ book_count_no }}
     <br>

            <section class="bg-light p-3 m-3 text-center">
        <table style="border-collapse:collapse; margin: 30px auto; ">
        <thead>
            <tr>
                <th>نوع تخفیف</th>
                <th>مقدار نقدی</th>
                <th>مقدار درصدی</th>
                <th>وضعیت</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
             {% for discount in object_list %}
                <tr>
                        <td>{{ discount.type_discount }}</td>
                        <td>{{ discount.amount }}</td>
                        <td>{{ discount.percent }}</td>
                        <td>{{ discount.active }}</td>
                        <td>
                           <a class="text-decoration-none" href="{% url 'panel:discount_edit' discount.pk %}">ویرایش</a> |
                            <a class="text-decoration-none" href="{% url 'panel:discount_delete' discount.pk %}">حذف</a> |
                            <a class="text-decoration-none"  href="{% url 'panel:discount_detail' discount.pk %}">جزئیات</a>
                        </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </section>

{% endblock content %}